@import "~bootstrap/dist/css/bootstrap.min.css";

.rotate {
  transform: rotate(180deg);
}
.user-card {
  width: 250px;
  height: 350px;
  overflow: hidden;
}

.container {
  padding: 0;
}

.user-card-center {
  height: 80%;
}

.user-card-top,
.user-card-bottom {
  height: 10%;
  padding: 0 8px;
}
